<a href="https://colab.research.google.com/github/zqiaohe/100daysofcode/blob/master/CupIT2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv("/content/drive/My Drive/CupIT2020/train_data.csv",index_col=[1], parse_dates=[1] ) 
#df = pd.read_csv("/content/drive/My Drive/CupIT2020/train_data.csv")

In [0]:
minidf = df[(df['cif_id']==335992)|(df['cif_id']==234815)|(df['cif_id']==198842)].sort_index(ascending=False)

In [0]:
minidf

              cif_id  gi_smooth_3m  ... is_married  cu_eduaction_level
dlk_cob_date                        ...
2018-12-31    234815      7.303600  ...          1                -100
2018-12-31    335992     10.812928  ...          1                   2
2018-12-31    198842      4.287918  ...          0                -100
2018-11-30    234815      7.346214  ...          1                -100
2018-11-30    335992     11.729811  ...          1                   2
2018-11-30    198842     10.635166  ...          0                -100
2018-10-31    198842      5.148496  ...          0                -100
2018-10-31    335992     12.874664  ...          1                   2
2018-10-31    234815     21.700902  ...          1                -100
2018-09-30    234815     31.089167  ...          1                -100
2018-09-30    198842      9.327056  ...          0                -100
2018-09-30    335992     13.859950  ...          1                   2
2018-08-31    234815     39.707496  ...          1                -100
2018-08-31    198842      9.476322  ...          0                -100
2018-08-31    335992     14.855459  ...          1                   2
2018-07-31    335992     15.796501  ...          1                   2
2018-07-31    198842     16.508188  ...          0                -100
2018-07-31    234815     31.382120  ...          1                -100
2018-06-30    198842     12.148675  ...          0                -100
2018-06-30    234815     27.146364  ...          1                -100
2018-06-30    335992     17.957530  ...          1                   2
2018-05-31    198842      5.830617  ...          0                -100
2018-05-31    234815     24.634394  ...          1                -100
2018-05-31    335992     21.949626  ...          1                   2
2018-04-30    234815     22.913798  ...          1                -100
2018-04-30    335992     27.720918  ...          1                   2
2018-04-30    198842      3.339212  ...          0                -100
2018-03-31    234815     20.791465  ...          1                -100
2018-03-31    198842      2.632725  ...          0                -100
2018-03-31    335992     27.917161  ...          1                   2
2018-02-28    234815     20.357834  ...          1                -100
2018-02-28    198842      2.180196  ...          0                -100
2018-02-28    335992     26.167117  ...          1                   2
2018-01-31    234815     19.242043  ...          1                -100
2018-01-31    335992     24.804408  ...          1                   2
2018-01-31    198842      2.777536  ...          0                -100

[36 rows x 45 columns]

In [0]:
minidf.groupby('cif_id').rolling(window=6) .sum()['gi_smooth_3m']

cif_id  dlk_cob_date
198842  2018-12-31             NaN
        2018-11-30             NaN
        2018-10-31             NaN
        2018-09-30             NaN
        2018-08-31             NaN
        2018-07-31       55.383146
        2018-06-30       63.243903
        2018-05-31       58.439354
        2018-04-30       56.630070
        2018-03-31       49.935738
        2018-02-28       42.639613
        2018-01-31       28.908961
234815  2018-12-31             NaN
        2018-11-30             NaN
        2018-10-31             NaN
        2018-09-30             NaN
        2018-08-31             NaN
        2018-07-31      138.529499
        2018-06-30      158.372263
        2018-05-31      175.660444
        2018-04-30      176.873340
        2018-03-31      166.575638
        2018-02-28      147.225976
        2018-01-31      135.085898
335992  2018-12-31             NaN
        2018-11-30             NaN
        2018-10-31             NaN
        2018-09-30             NaN
        2018-08-31             NaN
        2018-07-31       79.929313
        2018-06-30       87.073914
        2018-05-31       97.293729
        2018-04-30      112.139982
        2018-03-31      126.197194
        2018-02-28      137.508852
        2018-01-31      146.516759
Name: gi_smooth_3m, dtype: float64

In [0]:
minidf.groupby('cif_id').rolling(window=2) .sum()['gi_smooth_3m']

cif_id  dlk_cob_date
198842  2018-12-31            NaN
        2018-11-30      14.923085
        2018-10-31      15.783662
        2018-09-30      14.475552
        2018-08-31      18.803378
        2018-07-31      25.984510
        2018-06-30      28.656863
        2018-05-31      17.979292
        2018-04-30       9.169829
        2018-03-31       5.971937
        2018-02-28       4.812921
        2018-01-31       4.957732
234815  2018-12-31            NaN
        2018-11-30      14.649814
        2018-10-31      29.047116
        2018-09-30      52.790070
        2018-08-31      70.796663
        2018-07-31      71.089616
        2018-06-30      58.528484
        2018-05-31      51.780758
        2018-04-30      47.548193
        2018-03-31      43.705263
        2018-02-28      41.149299
        2018-01-31      39.599877
335992  2018-12-31            NaN
        2018-11-30      22.542739
        2018-10-31      24.604475
        2018-09-30      26.734614
        2018-08-31      28.715409
        2018-07-31      30.651960
        2018-06-30      33.754030
        2018-05-31      39.907155
        2018-04-30      49.670543
        2018-03-31      55.638078
        2018-02-28      54.084278
        2018-01-31      50.971525
Name: gi_smooth_3m, dtype: float64

In [0]:
new_train = df.sort_index(ascending=False)
#new_train.groupby('cif_id').apply(lambda x: x.sort_index(ascending=False)).rolling(window=6).sum()['gi_smooth_3m']

In [0]:
new_train = new_train.groupby('cif_id').rolling(window=2) .sum()['gi_smooth_3m']

In [162]:
new_train.head()

cif_id  dlk_cob_date
1001    2018-12-31             NaN
        2018-11-30       21.908271
        2018-10-31      144.683255
        2018-09-30      220.462897
        2018-08-31      183.229231
Name: gi_smooth_3m, dtype: float64

In [172]:
new_train.keys

<bound method Series.keys of cif_id  dlk_cob_date
1001    2018-12-31             NaN
        2018-11-30       21.908271
        2018-10-31      144.683255
        2018-09-30      220.462897
        2018-08-31      183.229231
                           ...
511537  2018-05-31       85.800848
        2018-04-30       85.386530
        2018-03-31       85.377042
        2018-02-28       87.307184
        2018-01-31      114.659481
Name: gi_smooth_3m, Length: 4161783, dtype: float64>

In [0]:
_train = pd.merge(df, new_train, on='key')

In [0]:
def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [0]:
y_true = np.array([3, -0.5, 2, 7])
y_pred = np.array([2.5, -0.3, 2, 8])

In [0]:
mean_absolute_percentage_error(y_true, y_pred)

17.738095238095237

In [0]:
test_df = pd.read_csv("/content/drive/My Drive/CupIT2020/test_data.csv")